.hero_section{
    background-color: #F2F0F1;
    font-family: "Satoshi";
    padding: 80px 100px ;
    padding-bottom: 0px;
    background-image: url('img/heros.png');
    background-repeat: no-repeat;
    margin-top: -16px;
}
.all_text{
    width: 50%;
}
.hero_section h2{
    font-family: "Integral";
    font-size: 64px;
    text-shadow: 0px 4px 4  px #00000045 ;
}
.description{
    color: #000000;
    opacity: 60%;
    padding: 32px 0px;
}
.hero_section button{
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 62px;
    padding: 15px 67px;

}
.information{
    padding: 48px 0px;
    padding-bottom: 50px;
    display: flex;
    gap:32px
}
.information h5{
    font-size: 40px;
    font-weight: 700;
}
.information .description{
    padding: 0px 0px;
}
.info_item:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding-right: 32px;
}