.review_container h3{
    text-align: start;
}
.review_container{
    padding: 0px 100px ;
}
.review_header{
    display: flex;
    justify-content: space-between;
}
.arrow_keys{
    display: flex;
    gap: 16px;
}
.slider{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}