.banner{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 100px;
    font-family: Satoshi;
    background-color: black;
    color: #FFFFFF;
}

.banner a{
    margin-left: 4px;
    color: #FFFFFF;
    font-weight: 600;
}

.banner .text{
    width: 100%;
}